#page
    width 100%
    max-width 100%
    min-width 100%
    
#content
    padding 0;

.slider
#welcome-slideshow
    height: 190px;
    width: 100%
    
    & li
        width: 100%
        height: 190px;

.nav
    min-width 100%    
    margin-bottom: 20px;
    
    &_item
        margin: 5px !important

#preview
    height 170px 

.model-list
    &__item
        height 170px  !important  
        width: 100%;   
        margin 20px 0 20px;
            
        &__image
            height 170px  !important     
            width: 100%; 
            
.model__video
    width: 100%;
    margin-bottom 0  
    height 270px
        
    & iframe   
        height 270px
        width: 100%;
        margin-bottom 0
        
.left 
.right
    width: 100%
    min-width: 100%
    max-width: 100%
    padding 0
    
.small-nav
    margin-top 20px
    
#media-icons
    top: 11px
    right 26px
    
.model__image
    width: 129px
    height: 129px
    
.model__images
    margin 10px auto
    width: 320px;
    
#langs 
    right: 30px
    top: 42px

        
.luthier
    display none
    
.about-text
    float none
    width: auto
    padding: 0
    
.input_100
    width: 90%;
    
input
    display block
    
.more-instruments 
    display none;
    
.more-instruments-link
    display block
    
.ash_large
    display none;
    
.instruments_large
    display none;

.small-nav
    margin-top: 50px;
    