@keyframes appear
  0% {opacity: 0}
  60% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}

@keyframes appear2
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}

@keyframes appear3
  0% {opacity: 0}
  90% {opacity: 0}
  100% {opacity: 1}

html
  min-width 100%
  min-height 100%
  width 100%
  height 100%
  padding 0
  margin 0

body
  min-width 100%
  min-height 100%
  width 100%
  height 100%
  padding 0
  margin 0

#page
  position relative
  margin 0 auto
  padding 0
  width 1200px
  max-width 1200px
  min-width 1200px
  min-height 100%
  height 100%

#welcome
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/ash.jpg");
  background-size: cover;
  background-position: 50% 0%;
  min-width: 1024px;
  min-heigth: 768px;
  z-index: 100;

#ash
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  letter-spacing: 0px;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -130px;
  animation-name: appear;
  animation-duration: 3s;
  cursor pointer
  color: #fff
  text-shadow 0 0 10px #000
  opacity 0

#instruments
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  letter-spacing: 0px;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: 100px;
  animation-name: appear;
  animation-duration: 3s;
  cursor pointer
  color: #fff
  text-shadow 0 0 10px #000
  opacity 0


#tree_large
  background: url("../img/tree_white.png") no-repeat center center;
  background-size 100%
  width: 150px;
  height 150px;
  position absolute
  top: 50%;
  left: 50%;
  margin-left -62px;
  margin-top -62px;
  animation-name: appear2;
  animation-duration: 3s;
  cursor pointer
  opacity 0


#nav
  min-width: 1024px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 200;
  padding 0;

.nav_item
  padding: 0;
  margin: 10px 30px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;

  & a
    color: #222
    text-decoration none
    text-transform uppercase

    &:hover
      color: #000

.slider
  position absolute
  padding 0
  margin 50px auto
  list-style none
  width: 1200px
  height 600px
  box-shadow 0 1px 2px rgba(0,0,0,0.4)

  &__prev
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    left: 0;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 60px;
    color: white;
    text-shadow 1px 1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333, -1px -1px 1px #333;

    &:hover
      opacity 1

  &__next
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    right: 0;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 60px;
    color: white;
    text-shadow 1px 1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333, -1px -1px 1px #333;

    &:hover
      opacity 1

.slide
  border none
  width: 1200px
  height 600px
  background-position middle 50%
  background-size cover
  opacity 0;
  position absolute
  top: 0;
  left 0;
  list-style none
