include ./i18n.jade

.about-text
    p
        +i18n('Andrey Shevchenko is a luthier from Russia.')

    p
        +i18n('His aim is not just simply to make a guitar but to create a unique musical instrument that it would be a pure pleasure both to look at it and play it.')

    p
        +i18n('His customers value their instruments for their excellent sound and style.')

img.luthier(src="/img/luthier.jpg" width=640 height=427)

.empty(style="clear:both")