-   var maxScale = 24.75, specScale;
-   for (var i = 0; i < _ash.guitarModels.length; i++) {
-       specScale = parseFloat(_ash.guitarModels[i].sampleInstrument.specs.scaleLength.replace('"', ''));
-       if (maxScale < specScale) {
-           maxScale = specScale;
-       }
-   }
-   var maxScaleText = (maxScale + '').replace('.', '-');

ul(class="model-list model-list_max-scale-" + maxScaleText)
    each model in _ash.guitarModels
        include ./modelListItem.jade