include ./i18n.jade
include ./media.jade


- var type = (instrument.type === 'guitar') ? 'guitars' : 'basses';
- var scaleLength = instrument.specs.scaleLength.replace('"', '').replace('.', '-').replace(/-\d\d/g, '');
- var title = (instrument.model.name ? (instrument.model.name + ' - ') : '') + instrument.id;


li.model-list__item(data-href='/' + lang + instrument.href)
    +media('#item-' + instrument.id, instrument.images.list, instrument.images.list2x, instrument.id)
    div(id='item-'+instrument.id class='model-list__item__image model-list__item__image_' + scaleLength title=title)
    if (instrument.isAvailable)
        .model-list__item__info
            div
                +i18n('Available Now!')
            if (instrument.price)
                if (lang === 'ru' && instrument.price[1])
                    div= instrument.price[1]
                else
                    div= instrument.price[0]


