li.model-list__item(style="background-image: url(/img/" + instrument.id + "/list.jpg)" data-href='/' + instrument.href)
    span.model-list__item__name!= instrument.model + " &mdash; " + instrument.id


