mixin media(selector, src, srcRetina, id)
    - src = '/img/' + id + '/' + src;
    - srcRetina = '/img/' + id + '/' + srcRetina;
    style.
        !{selector} {
            background: url(!{src}) no-repeat;
        }
    if (srcRetina)
        style.
            @media (-webkit-min-device-pixel-ratio: 2) {
                !{selector} {
                    background-image: url(!{srcRetina});
                    background-size: contain;
                }
            }