.model-page
    h2= name
    .model__description!= description

    if (instruments.length)
        ul.model-list.model-list
            each instrument in instruments
                include ./instrumentListItem.jade

