include ./i18n.jade

ul.nav
    each page in pages
        if (page.name == currentPage)
            li.nav_item.nav_item_current
                a(href='/' + lang + '/' + page.id + '.html')
                    +i18n(page.name)
        else
            li.nav_item
                a(href='/' + lang + '/' + page.id + '.html')
                    +i18n(page.name)