include ./i18n.jade

p
    +i18n('These prototypes were developed by Russian designer Yaroslav Tarasov specially for Ash Instruments.')
p
    +i18n('All models are available for order. You can select any number of strings: 4,5,6, any wood and any specification.')
p
    +i18n('if you are interested in these instruments, and you want to get more information, please contact me. ')
    a(href="mailto:ashinstruments@gmail.com") ashinstruments@gmail.com

h3 Kirishima
.prototype(style="background-image: url(/img/prototypes/kirishima.jpg);")