include ./i18n.jade

p
    +i18n('These prototypes were designed by Yaroslav Tremasov, a Russian designer, specially for Ash Instruments.')
p
    +i18n('All models are available to order. You can select any number of strings (4,5,6,7), any wood, and any specification.')
p
    +i18n('For more information please contact us. ')
    a(href="mailto:ashinstruments@gmail.com") ashinstruments@gmail.com

h3 Kirishima
.prototype(style="background-image: url(/img/prototypes/kirishima.jpg);")

h3 Benedict
.prototype(style="background-image: url(/img/prototypes/benedict-b.jpg);")
.prototype(style="background-image: url(/img/prototypes/benedict-g.jpg);")