- var monthText = (id+'')[2] + (id+'')[3];
- var month = parseInt(monthText, 10) -1;
- var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- var year = '20' + (id+'')[0] + (id+'')[1];
- var date = _ash.i18n(months[month], lang) + ' ' + year ;

include ./spec.jade

table.model__specs
    +spec(id, 'S/N')
    +spec(date, 'Date Of Birth')
    +spec(modelText, 'Model')
    +spec(specs.scaleLength, 'Scale Length')
    +spec(specs.fretsCount, 'Number Of Frets')
    +spec(specs.stringsCount, 'Number Of Strings')
    +spec(specs.fingerboardRadius, 'FB Radius')
    +spec(specs.bodyWood, 'Body Wood')
    +spec(specs.topWood, 'Top Wood')
    +spec(specs.neckWood, 'Neck Wood')
    +spec(specs.construction, 'Construction')
    +spec(specs.fingerboardWood, 'Fretboard Wood')
    +spec(specs.dots, 'Dots')
    +spec(specs.nut, 'Nut')
    +spec(specs.hardwareColor, 'Hardware Color')
    +spec(specs.tuners, 'Tuners')
    +spec(specs.bridge, 'Bridge')
    +spec(specs.pickups, 'Pickups')
    +spec(specs.pickup, 'Pickup')
    +spec(specs.preamp, 'Preamp')
    +spec(specs.electronics, 'Electronics')
    +spec(specs.knobs, 'Knobs')
    +spec(specs.switching, 'Switching')
    +spec(specs.color, 'Color')
    +spec(specs.finish, 'Finish')
