doctype html
html(lang="en")
    head
        script.
            var language = (window.navigator.userLanguage || window.navigator.language);

            try {
                language = language.split('-')[0].toLowerCase();
            } catch(e) {

            }

            //if (language !== 'ru') {
                language = 'en';
            //}
            location.pathname = language + '/404.html';



