doctype html
html(lang="en")
    head
        script.
            var language = window.navigator.userLanguage || window.navigator.language;
            if (language !== 'ru') {
                language = 'en';
            }
            location.pathname = language + '/index.html';



