doctype html
html(lang="en")
    head
        script.
            var language = window.navigator.userLanguage || window.navigator.language;
            location.pathname = language + '/index.html';



