style.
    #nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        animation-name: appear3;
        animation-duration: 3s;
    }
script(src='js/index.js')

#welcome2
    #ash Ash
    #tree_large
    #instruments Instruments