include ./i18n.jade

style.welcome-style.
    .nav, .footer {
        width: 100%;
        text-align: center;
        animation-name: appear3;
        animation-duration: 6s;
    }

    #logo {
        animation-name: appear3;
        animation-duration: 6s;
    }

    #langs {
        animation-name: appear3;
        animation-duration: 6s;
    }

    #media-icons {
        animation-name: appear3;
        animation-duration: 6s;
    }

    #welcome-content {
        opacity: 0;
    }


script(src='/js/index.js')

#welcome2
    .ash.ash_large Ash
    .tree.tree_large
    .instruments.instruments_large Instruments

#welcome-content
    .js-slider.slider
        ul#welcome-slideshow
            each slide, index in welcomeSlideshow
                li.slide.js-slide(data-id='' + index + '', style='background-image: url(/img/' + slide + ')')

        .js-prev.slider__prev!= '&#8249;'
        .js-next.slider__next!= '&#8250;'
        .js-dots.slider__dots
            each slide, index in welcomeSlideshow
                div.slider__dot.js-slider-dot(data-id='' + index + '')

    - var instruments = _ash.instruments.concat([]).splice(0, 3);

    if (instruments.length)
    -   var maxScale = 24.75, specScale;
    -   for (var i = 0; i < 3; i++) {
    -       specScale = parseFloat(instruments[i].specs.scaleLength.replace('"', '').replace(/-\d\d/g, ''));
    -       if (maxScale < specScale) {
    -           maxScale = specScale;
    -       }
    -   }
    -   var maxScaleText = (maxScale + '').replace('.', '-');

    h3
        +i18n('New Instruments')

    ul(class="model-list model-list_max-scale-" + maxScaleText)
        each instrument in instruments
            include ./lastInstrumentListItem.jade

